body {
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 10px;
    background-color: gray

}

div#checkbox-block {
  background-color: #ddd;
  padding: 10px;
  margin-right: 50px;
  margin-left: 20px;
  border-radius: 5px;
  color: black;
}

p.main-text-2 {
  color: white;
}

span#frequent-network-logo {
  background-color: red;
  font-size: 10px;
  color: white;
  padding: 3px;
  border-radius: 3px;
}
